@use 'font';

$main-color: #323264;
$alt-color: #46466E;
$soft-color: #686887;

$accent-color: #F0145A;

$blue-btn: #24A3FF;
$hover-btn: #0085FF;
$active-btn: #006CCF;

$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-sep: #E6E6F0;
$white-text: #FFF;

$gradient: linear-gradient(135deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(23deg, #323264 0%, #323264 50.63%, #7A425E 100%);
$gradient-red: linear-gradient(114deg, #F0145A 0%, #693264 100%);
$gradient-supersoft: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);
$gradient-red-text: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);

$gradient-text: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
// $gradient-bg: linear-gradient(135deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-bg: linear-gradient(23deg, #323264 0%, #323264 50.63%, #7A425E 100%);
$gradient-team: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-mb-experience: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    text-decoration: none;
    vertical-align: baseline;
    box-sizing: border-box;

    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

html {
    scroll-behavior: smooth;
}

button, a[href] {
    cursor: pointer;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'TT Norms', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (min-width: 1024px) {
        padding: 0 60px;
    }
}

h1 {
    font-size: 32px;
    font-weight: 700;
    @media screen and (min-width: 768px) {
        font-size: 42px;
    }
}

h2 {
    font-size: 22px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        font-size: 32px;
    }
}

h3 {
    font-size: 18px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.flex {
    display: flex;
}

.small-btn {
    background: transparent;
    width: 29px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in;

    &:hover{
        background-color: $grey-bg-alt;
        color: $grey-text;
    }

    &.active {
        background-color: $accent-color;
        color: $white-text;
    }

    &.active:hover {
        color: $white-text;
    }
}

.small-btn.active-btn-team {
    color: $white-text;
}

.header {
    position: absolute;
    padding-top: 25px;
    width: 100%;
    color: $white-text;
    @media screen and (min-width: 1024px) {
        padding-top: 50px;
    }

    .flex.wrapper {
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            align-items: flex-start;
        }

        .header-logo {
            width: 77px;
            height: 31px;
            @media screen and (min-width: 1024px) {
                width: 155px;
                height: 62px;
            }
        }
    }

    .header-content {
        width: 100%;
    }

    .first-row {
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        color: $grey-text;
        @media screen and (min-width: 1024px) {
            justify-content: flex-end;
            color: $white-text;
        }

        .buttons-lang {
            display: flex;
            gap: 5px;
        }
    }

    .first-row.header-text {
        color: $grey-text;
    }

    nav {
        display: none;
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            margin-top: 16px;
        }

        a {
            transition: all 0.3s linear;
        }

        a:hover {
            color: $accent-color;
            text-decoration: underline;
        }
    }

    .links-color {
        a {
            color: $blue-btn;
        }

        .active-team {
            color: $accent-color;
            text-decoration: underline;
        }
    }

    .desktop-ul {
        gap: 8px;
        margin-left: 8px;
        align-items: center;
        list-style-position: inside;

        .address, .facebook-icon {
            display: none;
            @media screen and (min-width: 1024px) {
                display: list-item;
            }
        }

        .tel {
            list-style-type: none;
            @media screen and (min-width: 1024px) {
                list-style-type: disc;
            }
        }

        svg {
            vertical-align: top;
            transition: all 0.3s linear;
        }

        svg:hover {
            color: $blue-btn;
        }
    }

    .logo-burger-menu {
        width: 100%;
        order: 2;
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            order: -1;
            width: 35%;
        }

        .burger-menu {
            .burger-open {
                position: absolute;
                right: 12px;
                top: 67px;
                @media screen and (min-width: 1024px) {
                    display: none;
                }
            }

            svg:hover {
                cursor: pointer;
            }
        }

        .burger-menu-mobile {
            display: none;
            z-index: 2;
            width: 100%;
            min-height: 348px;
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: $white-text;
            padding: 12px 20px 0;
            border-radius: 12px 12px 0px 0px;
            @media screen and (min-width: 1024px) {
                display: none;
            }

            .burger-close {
                position: absolute;
                right: 12px;
            }

            svg:hover {
                cursor: pointer;
            }

            ul {
                margin-top: 64px;
                text-align: center;
            }

            li {
                list-style-type: none;
                padding: 7px 21px 9px 18px;
                background-color: $grey-bg;
                gap: 11px;
                border-radius: 12px;
                margin-bottom: 11px;
            }

            li:last-of-type {
                margin-bottom: 20px;
            }

            a {
                color: $blue-btn;
                font-size: 24px;
                height: 24px;
            }

            a:hover {
                color: $accent-color;
            }
        }

        .mobile-bg {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $main-color;
            opacity: 0.7;
            z-index: 1;
        }
    }
}


// start footer
.footer {
    width: 100%;
    margin: 0 auto;
    background-color: $grey-bg;
    padding: 40px 20px 118px;
    @media screen and (min-width: 1024px) {
        padding: 0 60px 40px;
    }

    .footer-container {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
        border-top: 4px solid $grey-sep;
    }

    .footer-wrapper {
        padding-top: 23px;
        @media screen and (min-width: 1024px) {
            padding-top: 30px;
        }
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .footer-content-left-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        @media screen and (min-width: 992px) {
            gap: 50px;
            flex-direction: row;
        }

        li {
            list-style-type: none;
        }

        li:first-child {
            list-style-type: none;
            color: $main-color;
            font-size: 16px;
            font-weight: 400;
        }

        li:nth-of-type(2) {
            color: $grey-text;
            @media screen and (min-width: 992px) {
                list-style-type: disc;
            }

            span {
                color: $blue-btn;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    .footer-content-left-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @media screen and (min-width: 992px) {
            gap: 30px;
            flex-direction: row;
        }

        li {
            list-style-type: none;
        }

        li:first-child {
            list-style-type: none;

            svg {
                color: $blue-btn;

                &:hover {
                    color: $accent-color;
                }
            }
        }

        li:nth-of-type(2) {
            color: $grey-text;
            @media screen and (min-width: 992px) {
                list-style-type: disc;
            }

            span {
                color: $alt-color;
                font-size: 16px;
                font-weight: 700;
            }
        }

        li:nth-of-type(3) {
            color: $grey-text;
            @media screen and (min-width: 992px) {
                list-style-type: disc;
            }

            span {
                color: $blue-btn;
                font-size: 16px;
                font-weight: 700;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    .footer-content-right {
        text-align: center;
        margin-top: 20px;
        @media screen and (min-width: 992px) {
            margin-top: 0;
        }

        p {
            color: $grey-text;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .footer-container.footer-border {
        border-top: none;
    }
}

.footer.footer-radius {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
// end footer